body{
	background-image: url("code.jpeg");
  	background-repeat: no-repeat;
 	background-attachment: fixed;  
	background-size: cover;
}

h1{
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	font-family: 'Source Code Pro', monospace;
	font-size: 4em;
	
}

title{
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	font-size: 2.5em;
	border: 4px solid powderblue;
  	padding: 5px;
  	border-radius: 6px;
}

h2{
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	font-size: 2em;
	border: 4px solid powderblue;
  	padding: 5px;
  	border-radius: 6px;
	background-color: black;
}

p{
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	font-family: 'Source Code Pro', monospace;
	text-align: center;
	font-size: 1.75em;
	float: left;
	background-color: black;
	border: 4px solid powderblue;
	margin: 25px 550px 75px 550px;
  
}

.left{
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	font-size: 2em;
	border: 4px solid powderblue;
  	padding: 5px;
  	border-radius: 6px;
  
}

.middle{
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	font-size: 2em;
	border: 4px solid powderblue;
  	padding: 5px;
  	border-radius: 6px;
	background-color: black;

}

.mid{
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	font-size: 2em;
	border: 4px solid powderblue;
  	padding: 5px;
  	border-radius: 6px;
	background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00f2fa;
  font-family: 'Source Code Pro', monospace;
  border: 4px solid powderblue;
  padding: 5px;
  border-radius: 6px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


.active {
  background-color: #333;
}
